PORT=5000
AUTH_SERVICE_URL=http://localhost:5001
CHAT_SERVICE_URL=http://localhost:5002
NOTIFICATION_SERVICE_URL=http://localhost:5003
JWT_SECRET=supersecretkey
CLIENT_URL=http://localhost:3000
MONGO_URI=mongodb+srv://princekumar20248_db_user:7UM9Mdhv9Y7lQDf3@cluster0.c0lkb7h.mongodb.net/
